
body {
    font-family: "Poppins", sans-serif;
    background-color: #b6aaaa;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #007BFF;
}

form p, form fieldset {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

input, select, textarea, button {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

select {
    background-color: #fefefe;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5rem 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

span {
    color: #FF0000;
    font-weight: 600;
}
